useDynLib(badzupaR, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(R6, R6Class)
importFrom(magrittr, "%>%")
importFrom(ellipse, ellipse)
# exportPattern("^[[:alpha:]]+")
export(adeba_density)
export(Person)
export(Bootstrap)
export(Cv)
export(plotBootstrapMDS)
export(getBootstrapMDS)